
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnderConstruction</title>
</head>
<body>
    <div>
        This Website is under construction
        <span>Url : @ViewBag.Url</span>
        <span>Ip : @ViewBag.Ip</span>
    </div>
</body>
</html>
